/* js-free pancake/burger nav - www.jayrope.com */
/* GNU AGPL v3 as mentioned on http://www.gnu.org/licenses/agpl-3.0.html */

/* nomenclature: s=show, h=hide --> */
	#h2, #s2 {font-size:2em;cursor: pointer;}
	input#h, input#s {display:none;}
	input#s:checked ~ div#nav_links {display: block;}
	input#h:checked ~ div#nav_links {display: none;}
  	input#s ~ label#h2 {display: none;}
  	input#s:checked ~ label#h2 {display:inline;}
 	input#s:checked ~ label#s2 {display:none;}
 	#nav_links {display: none;margin: 10px;}

/* extras */
	body {font-size:1.4em;}
	ul, li {padding: 0;list-style: none;}